.gitignore
.clang-format-t
Configure OpenOCD.txt

/Hub
/Photos
/Switch-01
/Switch-12v-PWM-1Ch
/Switch-220v-8Ch/

/Hub-HAL-F103RE
/Hub-Pure-F103Rx-USB
/Hub-Pure-F103Rx-USB-HAL
/Hub-Pure-F401RE
/Nucleo103RE_RTOS
/Nucleo401RE_RTOS
/PWM-12v
/Switch-12v-PWM-4Ch
/Switch-1Ware-4Ch-p/O*
/Switch-1Ware-4Ch

Objects
Listings
RTE

/Test
/Bootloader/B*

/AES
node_modules

*.uvoptx
*.tmp
*.lst
*.map
*.job
*.pro
*.zip
*.epf
*.txt
*.b#[0-9]
*.s#[0-9]
*.l#[0-9]
*.htm
*.Alex